{% extends 'base.html' %}

{% block title %}
    {% if container %}
        {{ container }}
    {% else %}
        Новий Контейнер
    {% endif %}
{% endblock %}
{% block meta %}
    {% if container %}
        {{ container }}
    {% else %}
        Контейнер
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <a href="/">
            <button class="btn red white-text"><i class="mdi-hardware-keyboard-arrow-left"></i></button>
        </a>

        <form action="/dictionary/container{% if container %}?action=update&id={{ container.id }}{% else %}?action=save{% endif %}" method="post">
            {% csrf_token %}
            {% if form %}
                <table>
                    {{ form }}
                </table>
            {% else %}
                <table>
                    <tr>
                        <th><label for="id_name">Назва:</label></th>
                        <td><input id="id_name" maxlength="100" name="name" value="{{ container.name }}" type="text"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_type">Тип:</label></th>
                        <td><select id="id_type" name="type">
                            <option value="" selected="selected">---------</option>
                            {% for type in types %}
                                <option value="{{ type.id }}" {% ifequal type container.type%}selected{% endifequal %}>{{ type.name }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_weight">Тоннаж:</label></th>
                        <td><input id="id_weight" name="weight" step="any" value="{{ container.weight }}" type="number"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_row">Ряд:</label></th>
                        <td><input id="id_row" name="row" value="{{ container.row }}" type="number"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_place">Місце:</label></th>
                        <td><select id="id_place" name="place">
                            <option value="" selected="selected">---------</option>
                             {% for place in places %}
                                <option value="{{ place.id }}" {% ifequal place container.place%}selected{% endifequal %}>{{ place }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_marchent">Орендарь:</label></th>
                        <td><select id="id_marchent" name="marchent">
                            <option value="" selected="selected">---------</option>
                             {% for marchent in marchents%}
                                <option value="{{ marchent.id }}" {% ifequal marchent container.marchent%}selected{% endifequal %}>{{ marchent }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_rent">Оренда:</label></th>
                        <td><input id="id_rent" maxlength="255" value="{{ container.rent }}" name="rent" type="text"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_owner">Власник:</label></th>
                        <td><select id="id_owner" name="owner">
                            <option value="" selected="selected">---------</option>
                             {% for owner in owners %}
                                <option value="{{ owner.id }}" {% ifequal owner container.owner%}selected{% endifequal %}>{{ owner }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_contract_begin">Початок оренди:</label></th>
                        <td><input id="id_contract_begin" name="contract_begin" value="{{ container.contract_begin }}" type="date"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_contract_end">Кінець оренди:</label></th>
                        <td><input id="id_contract_end" name="contract_end" value="{{ container.contract_end }}" type="date"/></td>
                    </tr>
                    <tr>
                        <th><label for="id_description">Додаткова інформація:</label></th>
                        <td><textarea cols="40" id="id_description" name="description" rows="10">{{ container.description }}</textarea></td>
                    </tr>
                </table>
            {% endif %}
            <button class="btn green right"><i class="mdi-content-save"></i></button>
        </form>
    </div>
{% endblock %}