{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body>
<div class="navbar-fixed">

    <ul id="dictionary" class="dropdown-content">
        <li><a href="/dictionary/types">Типи</a></li>
        <li><a href="/dictionary/regions">Області</a></li>
        <li><a href="/dictionary/distincts">Райони</a></li>
        <li><a href="/dictionary/cities">Міста</a></li>
        <li><a href="/dictionary/places">Розташування</a></li>
        <li><a href="/dictionary/owners">Власники</a></li>
        <li><a href="/dictionary/marchents">Орендарі</a></li>
    </ul>

    <ul id="user" class="dropdown-content">
        <li><a href="/logout">Вихід</a></li>
    </ul>

    <ul id="export" class="dropdown-content">
        <li><a href="/export/xml">XML</a></li>
        <li><a href="/export/json">JSON</a></li>
    </ul>

    <ul id="m-dictionary" class="dropdown-content">
        <li><a href="/dictionary/types">Типи</a></li>
        <li><a href="/dictionary/regions">Області</a></li>
        <li><a href="/dictionary/distincts">Райони</a></li>
        <li><a href="/dictionary/cities">Міста</a></li>
        <li><a href="/dictionary/places">Розташування</a></li>
        <li><a href="/dictionary/owners">Власники</a></li>
        <li><a href="/dictionary/marchents">Орендарі</a></li>
    </ul>

    <ul id="m-user" class="dropdown-content">
        <li><a href="/logout">Вихід</a></li>
    </ul>

    <ul id="m-export" class="dropdown-content">
        <li><a href="/export/xml">XML</a></li>
        <li><a href="/export/json">JSON</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper black">
            <a href="{% block url %}/{% endblock %}" class="brand-logo">{% block meta %}Контейнера{% endblock %} </a>
            <a href="#" data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dictionary">Довідники<i
                        class="mdi-navigation-arrow-drop-down right"></i></a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="user">Вітаємо {{ request.user.get_full_name }}
                    ({{ request.user }})<i
                            class="mdi-navigation-arrow-drop-down right"></i></a></li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="export">
                    <i class="mdi-navigation-arrow-drop-down right"></i> Експорт</a></li>
            </ul>

            <ul class="side-nav" id="mobile">
                <li><a class="dropdown-button" href="#!" data-activates="m-dictionary">Довідники<i
                        class="mdi-navigation-arrow-drop-down right"></i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="m-user">
                    {{ request.user }}<i
                        class="mdi-navigation-arrow-drop-down right"></i></a></li>
                <li><a class="dropdown-button" href="#!" data-activates="m-export">
                    <i class="mdi-navigation-arrow-drop-down right"></i> Експорт</a></li>
            </ul>
        </div>
    </nav>
</div>


<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="modal fade-in" id="modal"></div>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $('.tooltipped').tooltip({delay: 50});
    $(".button-collapse").sideNav();
</script>
</body>
</html>