{% extends 'base.html' %}

{% block title %}
    {% if model %}
        {{ model }}
    {% else %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block meta %}
    {% if model %}
         {{ model }}
    {% else %}
        {{ name }}
    {% endif %}
{% endblock %}

{% block url %}
    /dictionary/{{ back }}
{% endblock %}
{% block content %}
    <div class="row">
        <form id='fm' action="/dictionary/{{ now }}{% if model %}?action=save&id={{ model.id }}{% else %}?action=save{% endif %}"
              method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button type="submit" form="fm" class="btn-floating btn-large blue-grey tooltiped" data-position="bottom"
                data-delay="50" data-tooltip="Зберегти">
            <i class="large mdi-content-save"></i>
        </button>
    </div>

    {% if messages %}
        <script>
            {% for message in messages %}
                Materialize.toast("{{ message }}", 2000, 'error');
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}