<div class="row">
    <div class="col m6">
        <p>Прізвище : {{ entity.sur_name }}</p>
        <p>Ім'я : {{ entity.first_name }}</p>
        <p>По-Батькові : {{ entity.last_name }}</p>
        <p>Код паспорта : {{ entity.pass_code }}</p>
        <p>Телефон : {{ entity.telephone }}</p>
        <p>Стать : {{ entity.sex }}</p>
        <p>Адрес : м.{{ entity.city.name }} {{ entity.address }}</p>
        <p>Email : <a href = "mailto:{{ entity.email }}">{{ entity.email }}</a></p>
    </div>

    <div class="col m6">
        <p>Додаткова інформація</p>

        <p>{{ entity.description }}</p>
    </div>

    <div class="col m12">
        <table>
            <caption>Список контейнерів</caption>

             <thead>
                <tr>
                    <td>#</td>
                    <td>Контейнер</td>
                    <td>Ряд</td>
                    <td>Місце</td>
                    <td>Розташування</td>
                    <td>Початок оренди</td>
                    <td>Кінець оренди</td>
                </tr>
                </thead>
                <tbody>
                {% for item in containers %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.row }}</td>
                        <td>{{ item.col }}</td>
                        <td>{{ item.place.name }}</td>
                        <td>{{ item.contract_begin }}</td>
                        <td>{{ item.contract_end }}</td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
</div>