{% extends 'base.html' %}

{% block meta %}Власники{% endblock %}
{% block title %}Власники{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <table class="responsive-table hoverable striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Власник</td>
                        <td>Email</td>
                        <td>Місто</td>
                        <td></td>
                        <td> <button class="btn red circle" onclick="add_form()"><i class="mdi-content-add"></i></button></td>
                    </tr>
                </thead>
               <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.city.name }}</td>
                        <td><button class="btn-flat" onclick="edit_form({{ item.id }})"><i class="mdi-image-edit"></i></button></td>
                        <td><a href="/dictionary/owner?action=remove&id={{ item.id }}"><button class="btn-flat"><i class="mdi-content-remove-circle"></i></button></a></td>
                    </tr>
                {% endfor %}
               </tbody>
            </table>
        </div>
    </div>

    <script>
        function edit_form(id) {
           location.href = '/dictionary/owner?action=edit&id='+id;
        }

    function add_form() {
            location.href = '/dictionary/owner?action=add'
    }
    </script>
{% endblock %}